:root{
    --main-red: #C62828 ;
    --main-black:#212121 ;
    --main-grey: #E0E0E0  ;
    --main-white: #FAFAFA ;
    --main-blue: #283593;
    --borders: 8px;
}

body{
    box-sizing: border-box;
    margin:0;
    background: var(--main-white);
    color: var(--main-black);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}